* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gilroy-Regular";
  font-weight: 400;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}
html.not-scroll, body.not-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  color: #fff;

  background: linear-gradient(0deg, rgba(4,1,15,1) 0%, rgba(47,9,176,1) 2%, rgba(47,9,176,1) 90%, rgba(190,27,75,0.7525603991596639) 100%);
}

.wrapper {
  position: relative;
  background: url(../img/body-bg.png) center center no-repeat;
  background-size: 100% auto;

}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  width: 1490px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.container_small {
  padding-left: 100px;
  padding-right: 100px;
}

a {
  display: block;
  outline: none;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

button {
  display: block;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

li {
  display: block;
  list-style: none;
}

label {
  display: block;
}

header {
  padding-top: 45px;
  position: relative;
  z-index: 10;
}

.header__logo {
  width: 182px;
}
.header__logo img {
  width: 100%;
}

.header__block {
  width: calc(100% - 182px);
}

.header__block-close {
  display: none;
}

.header__menu {
  margin-left: auto;
  margin-right: auto;
}
.header__menu li {
  padding-left: 35px;
  padding-right: 35px;
}
.header__menu li a {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
}
.header__menu li a:hover {
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
}

.header__btn {
  font-size: 16px;
  line-height: 21px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  padding: 11px 26px;
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
}
.header__btn span {
  background-color: #fff;
}
.header__btn:hover {
  border-color: #fff;
  color: #2f09b0;
}

.btn_hover {
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.btn_hover span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn_hover:hover span {
  width: 225%;
  height: 500px;
}

.header__navbar {
  display: none;
}

.main {
  padding-top: 20px;
  overflow-x: hidden;
}
.main:before {
  position: absolute;
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.25);
  -webkit-filter: blur(125px);
  filter: blur(125px);
  width: 100%;
  height: 582px;
  left: -113px;
  top: -144px;
}
.main:after {
  position: absolute;
  display: block;
  content: "";
  background: #be1b4b;
  -webkit-filter: blur(300px);
  filter: blur(300px);
  width: 100%;
  height: 1200px;
  left: 0;
  top: -600px;
}

.main__content {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.main__info {
  width: 590px;
  padding-bottom: 35px;
  padding-top: 100px;
  position: relative;
  z-index: 2;
}

.main__title {
  color: #fff;
  margin-bottom: 50px;
  font-size: 90px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 78%;
}
.main__title img {
  display: inline;
  width: 148px;
  margin-bottom: -15px;
  margin-left: 4px;
  margin-right: 4px;
}

.main__description {
  margin-bottom: 38px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  letter-spacing: 5.5px;
  color: rgba(255, 255, 255, 0.72);
  font-size: 12px;
  line-height: 17px;
}

.main__links {
  margin-bottom: 115px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.main__links a {
  width: 157px;
  margin-right: 15px;
}
.main__links a:last-child {
  margin-right: 0;
}
.main__links a img {
  width: 100%;
}

.main__tags {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 1290px;
}
.main__tags span {
  margin-left: 17px;
  margin-right: 17px;
  padding: 17px 22px 20px 22px;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 78%;
  border-radius: 12px;
}
.main__tags span:nth-child(even) {
  margin-top: 22px;
}
.main__tags span.main__tag_1 {
  color: #EB1C67;
  border: 2px solid #EB1C67;
}
.main__tags span.main__tag_2 {
  border: 2px solid #000000;
  color: #000;
  background: #fff;
}
.main__tags span.main__tag_3 {
  border: 2px solid #FFFFFF;
  color: #fff;
}
.main__tags span.main__tag_4 {
  background: #BE1B4C;
  color: #fff;
  border: 2px solid #FFFFFF;
}
.main__tags span.main__tag_5 {
  color: #EB1C67;
  border: 2px solid #EB1C67;
  background: #fff;
}
.main__tags span.main__tag_6 {
  background: -o-linear-gradient(190.82deg, #5844EC 17.27%, #B92929 74.84%, #EC0F86 132.42%);
  background: linear-gradient(259.18deg, #5844EC 17.27%, #B92929 74.84%, #EC0F86 132.42%);
  color: #fff;
}

.main__img-wrapper {
  width: 910px;
  position: relative;
  z-index: 1;
  margin-left: -50px;
  margin-right: -160px;
}

.main__img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.main__animation {
  position: absolute;
  z-index: 1;
  top: 84px;
  left: 151px;
  width: 270px;
  border-radius: 35px 35px 0px 0px;
}

.possibilities {
  position: relative;
  z-index: 5;
}

.possibilities__content {
  background: #D9D9D9;
  border-radius: 30px;
  padding: 80px 100px 100px 95px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 2px solid #6448ad;
  background: -o-linear-gradient(45deg, #941f52 0%, #46178a 30%, #46178a 60%, #941f52 100%);
  background: linear-gradient(45deg, #941f52 0%, #46178a 30%, #46178a 60%, #941f52 100%);
  background-size: 200% 100%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.possibilities__left {
  width: 500px;
}
.possibilities__left .section__subtitle {
  margin-bottom: 60px;
}

.section__title {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 74px;
  line-height: 100px;
  color: #fff;
  margin-bottom: 32px;
}

.section__subtitle {
  margin-bottom: 40px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.section__subtitle span {
  display: block;
  color: rgba(255, 255, 255, 0.72);
  font-family: "Gilroy-Bold";
  letter-spacing: 5.5px;
  font-weight: 700;
  font-size: 12px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.section__subtitle span:nth-child(1) {
  margin-right: 24px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.section__subtitle hr {
  display: block;
  height: 1px;
  border: none;
  width: 140px;
  background: rgba(255, 255, 255, 0.72);
  margin-right: 24px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.possibilities__images {
  position: relative;
  width: 445px;
  height: 421px;
}

.possibilities__logo {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.possibilities__people {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.possibilities__people span {
  display: block;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  z-index: 2;
}
.possibilities__people span:nth-child(1) {
  top: 0;
  left: 123px;
}
.possibilities__people span:nth-child(2) {
  top: 71px;
  left: 381px;
}
.possibilities__people span:nth-child(3) {
  left: 381px;
  top: 420px;
}
.possibilities__people span:nth-child(4) {
  top: 400px;
  left: 40px;
}
.possibilities__people span:nth-child(5) {
  top: 188px;
  left: -30px;
}
.possibilities__people img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.possibilities__info {
  width: 700px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 55px;
  position: relative;
}
.possibilities__info:after {
  position: absolute;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  -webkit-box-shadow: 0px 0px 700px 150px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 700px 150px rgba(255, 255, 255, 0.4);
  top: 50%;
  left: 50%;
}

.possibilities__col {
  width: 285px;
}

.possibilities__title {
  color: #fff;
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 25px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

.possibility {
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
.possibility:last-child {
  margin-bottom: 0;
}

.possibility__icon {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 24px;
  width: 61px;
  height: 61px;
  border-radius: 10px;
  -webkit-box-shadow: 13px 24px 11px rgba(0, 0, 0, 0.01), 8px 13px 9px rgba(0, 0, 0, 0.05), 3px 6px 7px rgba(0, 0, 0, 0.09), 1px 1px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 13px 24px 11px rgba(0, 0, 0, 0.01), 8px 13px 9px rgba(0, 0, 0, 0.05), 3px 6px 7px rgba(0, 0, 0, 0.09), 1px 1px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.possibility__icon.possibility__icon_blue {
  background: -o-radial-gradient(31.97% 19.67%, 63.11% 63.11%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #5844EC;
  background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #5844EC;
}
.possibility__icon.possibility__icon_red {
  background: -o-radial-gradient(31.97% 19.67%, 63.11% 63.11%, rgba(255, 255, 255, 0.22) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #BE1B4B;
  background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.22) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #BE1B4B;
}

.possibility__title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 16px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

.possibility__description {
  font-size: 16px;
  line-height: 20px;
}

.steps {
  padding-top: 65px;
  padding-bottom: 120px;
}
.steps .section__title {
  margin-bottom: 14px;
}

.steps__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: 15s linear 0s normal none infinite running rot;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
  z-index: -2;
}
.steps__circle:before {
  position: absolute;
  display: block;
  content: "";
  background: rgba(190, 27, 75, 0.7);
  -webkit-filter: blur(300px);
  filter: blur(300px);
  border-radius: 800px;
  width: 1600px;
  height: 1600px;
  left: -800px;
  top: 0;
}

.step {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  z-index: 5;
}

.step__signature {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: -1;
  font-size: 216px;
  line-height: 312px;
  color: rgba(0, 0, 0, 0.04);
  font-family: "Jost", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.step__img {
  position: relative;
  z-index: 1;
  width: 483px;
}
.step__img img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.step__info {
  width: 380px;
  position: relative;
  z-index: 5;
  margin-top: 200px;
}

.step__icon {
  position: absolute;
}

.step__number {
  margin-bottom: 22px;
  font-size: 54px;
  line-height: 90%;
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

.step__title {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 20px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

.step__description {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.93);
}
.step__description:last-child {
  margin-bottom: 0;
}

.step__btns {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.step__btns a {
  width: 157px;
  margin-right: 15px;
  margin-bottom: 8px;
}
.step__btns a img {
  width: 157px;
}

.step_1 {
  z-index: 4;
}
.step_1 .step__img {
  margin-left: 100px;
}
.step_1 .step__img:before {
  position: absolute;
  display: block;
  content: "";
  width: 154px;
  height: 154px;
  background: url(../img/step-logo.svg) center center no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  left: -30px;
  bottom: 123px;
  animation: 10s linear 0s normal none infinite running rot;
  -webkit-animation: 10s linear 0s normal none infinite running rot;
}
.step_1 .step__icon {
  top: -90px;
  right: -90px;
  width: 175px;
}
.step_1 .step__signature {
  right: 0;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.step_2 {
  position: relative;
  z-index: 2;
  margin-top: -200px;
}
.step_2 .step__icon {
  width: 130px;
  top: -50px;
  right: 20px;
}
.step_2 .step__info {
  margin-right: 100px;
  margin-left: 200px;
}
.step_2 .step__signature {
  left: 0;
}

.step_3 {
  margin-top: -200px;
  z-index: 3;
}
.step_3 .step__img {
  margin-left: 100px;
}
.step_3 .step__icon {
  width: 123px;
  left: -123px;
  top: -187px;
}
.step_3 .step__signature {
  right: 0;
}

.advantages {
  position: relative;
  z-index: 5;
  margin-top: -180px;
}

.advantages__content {
  background: url(../img/advantages-bg.webp) center center no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 85px 100px 80px 175px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
}

.advantages__info {
  width: 500px;
  position: relative;
  z-index: 2;
}

.advantages__items {
  margin-bottom: 40px;
  position: relative;
}
.advantages__items p {
  font-size: 74px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 74px;
  position: relative;
  z-index: 2;
  animation: 8s linear 0s normal none infinite running titleColor;
  -webkit-animation: 8s linear 0s normal none infinite running titleColor;
}
.advantages__items p:before {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  left: -20px;
  top: 42px;
}
.advantages__items img {
  position: absolute;
  right: 0;
  top: 50%;
  width: 115px;
}

@keyframes titleColor {
  0% {
    color: #fff;
  }
  33% {
    color: #5525FF;
  }
  66% {
    color: #EC2963;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes titleColor {
  0% {
    color: #fff;
  }
  33% {
    color: #5525FF;
  }
  66% {
    color: #EC2963;
  }
  100% {
    color: #fff;
  }
}
.advantages__description p {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
.advantages__description p:last-child {
  margin-bottom: 0;
}
.advantages__description p b {
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}

.advantages__subscribers {
  width: 475px;
  max-width: 100%;
}
.advantages__subscribers hr {
  background: rgba(255, 255, 255, 0.72);
  border: none;
  height: 1px;
  width: 80px;
  margin-right: auto;
}

.advantages__subscribers-img {
  width: 460px;
  max-width: 100%;
  margin-bottom: 32px;
}
.advantages__subscribers-img img {
  width: 100%;
}

.advantages__subscribers-title {
  margin-right: 40px;
  font-size: 17px;
  line-height: 24px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  margin-left: 15px;
}

.advantages__subscribers-info {
  font-size: 23px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  line-height: 27px;
}
.advantages__subscribers-info small {
  display: block;
  color: #FFFFFF;
  opacity: 0.68;
  font-size: 14px;
  line-height: 100%;
}

.for {
  padding-top: 50px;
  padding-bottom: 40px;
}

.for__circle {
  position: absolute;
  display: block;
  background: rgba(190, 27, 75, 0.8);
  -webkit-filter: blur(300px);
  filter: blur(300px);
  width: 1600px;
  height: 1200px;
  border-radius: 1600px;
  right: -1000px;
  bottom: -400px;
  z-index: -2;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.for__steps {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.for__step {
  width: calc(33% - 20px);
  margin-right: 30px;
}
.for__step:last-child {
  margin-right: 0;
}

.for__step-number {
  width: 34px;
  height: 34px;
  margin-bottom: 16px;
  border-radius: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.61);
  font-size: 14px;
  line-height: 26px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  background: #F8DB81;
  padding: 4px;
}

.for__step-title {
  margin-bottom: 48px;
  font-size: 26px;
  line-height: 34px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}

.for__items {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.for__items a {
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 46px;
  padding: 10px 40px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  color: #fff;
}
.for__items a:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(248, 219, 129, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(248, 219, 129, 0.7);
}
.for__items a.active {
  background: #BE1B4B;
  border-color: #BE1B4B;
}
.for__items a.transparent {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.37);
  color: rgba(255, 255, 255, 0.44);
}

.direction {
  display: none;
}

.for__step_2 {
  opacity: 0.4;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.for__step_2.active {
  opacity: 1;
}

.for__step_3 {
  display: none;
}

.for__code {
  width: 300px;
  max-width: 100%;
  position: relative;
}
.for__code img {
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.for__code small {
  display: block;
  text-align: center;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.76);
  font-size: 14px;
  line-height: 20px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}
.for__code p {
  text-align: center;
  font-size: 22px;
  line-height: 31px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}

.for__icon {
  width: 200px;
  margin-left: auto;
}
.for__icon img {
  width: 100%;
  margin: 0;
}

.for__links {
  display: none;
}

.articles {
  padding-top: 50px;
  padding-bottom: 90px;
}

.subscribe {
  width: 545px;
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
}

.subscribe__title {
  margin-bottom: 8px;
  width: 100%;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  font-size: 20px;
}

.subscribe__form input {
  width: 320px;
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 10px;
  height: 56px;
  color: #fff;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.subscribe__form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.subscribe__form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.subscribe__form input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.subscribe__form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.subscribe__form button {
  background: #BE1B4B;
  border-radius: 10px;
  height: 56px;
  font-size: 16px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  padding: 10px;
  width: 210px;
  text-align: center;
  color: #fff;
}
.subscribe__form button span {
  background: #911539;
}

.articles__items {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.article {
  width: 545px;
  margin-bottom: 40px;
}

.article__img {
  width: 100%;
  margin-bottom: 24px;
  border-radius: 30px;
}

.article__date {
  margin-bottom: 12px;
  font-size: 16px;
  opacity: 0.78;
}

.article__title {
  margin-bottom: 16px;
  font-size: 26px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

.article__preview {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
}

.article__link {
  color: #56CCF2;
  font-size: 18px;
  position: relative;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  padding-right: 20px;
}
.article__link svg {
  fill: #56CCF2;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -40%);
  -ms-transform: translate(0, -40%);
  transform: translate(0, -40%);
}
.article__link:hover {
  color: #fff;
}
.article__link:hover svg {
  fill: #fff;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 300;
  display: none;
}

.modal__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal__blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  width: 990px;
  max-width: calc(100% - 30px);
  max-height: calc(100vh - 30px);
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 40px 60px;
  border-radius: 30px;
  color: #000000;
  overflow-y: auto;
}
.modal .article__date {
  padding-right: 50px;
}
.modal .article__text {
  margin-bottom: 0;
}

.article__text {
  padding-left: 20px;
  padding-right: 20px;
}
.article__text p {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.76);
  font-size: 16px;
  line-height: 22px;
}
.article__text p:last-child {
  margin-bottom: 0;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  z-index: 5;
}
.modal__close:before, .modal__close:after {
  position: absolute;
  display: block;
  content: "";
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background: #000;
  left: -4px;
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.download__content {
  background: url(../img/download-bg.webp) #2e1099 center center no-repeat;
  background-size: cover;
  padding-left: 110px;
  padding-right: 70px;
  -webkit-backdrop-filter: blur(53px);
  backdrop-filter: blur(53px);
  border-radius: 30px;
}

.download__img {
  width: 494px;
  margin-top: -50px;
  position: relative;
}
.download__img img {
  width: 100%;
}

.download__star {
  display: block;
  position: absolute;
  background: url(../img/download-star.webp) center center no-repeat;
  background-size: 100% 100%;
  z-index: 5;
}

.download__star_1 {
  width: 49px;
  height: 58px;
  bottom: 110px;
  left: 10px;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.download__star_2 {
  width: 24px;
  height: 29px;
  bottom: 145px;
  left: -12px;
}

.download__star_3 {
  width: 24px;
  height: 29px;
  bottom: 100px;
  left: -6px;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.download__info {
  padding-top: 70px;
  padding-bottom: 60px;
  width: 720px;
}
.download__info .section__title {
  margin-bottom: 0;
}

.download__description {
  margin-bottom: 24px;
  font-size: 18px;
  max-width: 525px;
}

.download__btns {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.download__btns a {
  margin-right: 15px;
  width: 157px;
}
.download__btns a:last-child {
  margin-right: 0;
}

.download__code {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.download__code img {
  width: 180px;
}

.download__code-title {
  width: calc(100% - 240px);
  margin-left: 60px;
  color: rgba(255, 255, 255, 0.76);
  font-size: 14px;
  line-height: 20px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  position: relative;
}
.download__code-title:before {
  position: absolute;
  display: block;
  content: "";
  width: 64px;
  height: 61px;
  background: url(../img/download-arrow.svg) center center no-repeat;
  background-size: contain;
  left: -40px;
  top: -80px;
}

footer {
  padding-top: 35px;
  padding-bottom: 35px;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#2E09B1), color-stop(18.75%, #1E0675), to(#04010F));
  background: -o-linear-gradient(top, #2E09B1 0%, #1E0675 18.75%, #04010F 100%);
  background: linear-gradient(180deg, #2E09B1 0%, #1E0675 18.75%, #04010F 100%);
}
footer hr {
  width: 200%;
  margin-left: -50%;
  height: 1px;
  border: none;
  background: rgba(255, 255, 255, 0.27);
  margin-bottom: 26px;
}

.footer__logo {
  width: 182px;
  margin-bottom: 32px;
}
.footer__logo img {
  width: 100%;
}

.footer__menu {
  margin-bottom: 32px;
}
.footer__menu li {
  padding-left: 35px;
  padding-right: 35px;
}
.footer__menu li a {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
}
.footer__menu li a:hover {
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
}

.footer__btn {
  font-size: 16px;
  line-height: 21px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  padding: 11px 26px;
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: 10px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.footer__btn span {
  background: #fff;
}
.footer__btn:hover {
  border-color: #fff;
  color: #2f09b0;
}

.footer__middle {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__links {
  margin-bottom: 26px;
  padding-right: 26px;
  width: 330px;
  margin-right: 10px;
  margin-left: 10px;
}
.footer__links li {
  margin-bottom: 8px;
}
.footer__links li:last-child {
  margin-bottom: 0;
}
.footer__links li a {
  font-size: 15px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
}
.footer__links li a:hover {
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
}

.footer__info {
  margin-bottom: 26px;
  width: 330px;
  font-size: 15px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  padding-right: 26px;
}
.footer__info p {
  margin-bottom: 8px;
}
.footer__info p:last-child {
  margin-bottom: 0;
}

.footer__bottom {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__name {
  font-size: 15px;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  margin-left: -30px;
  padding-right: 15px;
  margin-bottom: 12px;
}

.footer__note {
  padding-left: 15px;
  padding-right: 15px;
  width: 455px;
  max-width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 22px;
}